/* Title styling */
.header{
  margin-bottom: 40px;
  text-align: center;
  color: #ff9966;
}

/* Table header styling */
th {
  font-size: 15px;
  background-color: #ff9966;
  color: white;
}

table{
  width: auto;
}

/*Import feature styling*/
.import-title{
  margin-top: 40px;
  margin-left: 30px;
}

.hr-style{
  border: 0;
  height: 1px;
  background: #333;
  margin-left: 30px;
  margin-top: 5px;
  width: 30%;
}

.import-file {
  margin-left: 30px;
  display: inline-block;
}

.submit{
  margin-left: 24px;
  display: inline-block;
  margin-bottom: 50px;
}
