<h1> Malware Data Uploadr</h1>

<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>MD5</th>
      <th>Classification Name</th>
      <th>Classification Type</th>
      <th>Size</th>
      <th>FileType</th>
    </tr>
  </thead>
  <tbody>
    <% @viruses.each do |virus| %>
      <tr>
        <td>malwaredata.MD5</td>
      </tr>
    <%end%>
  </tbody>
</table>
