<div class="box">
  <div class="box-header">
    <span class="fa fa-database fa-fw fa-lg box-icon"></span>
    <h1>Database</h1>
  </div>
  <div id="database-content" class="box-content">

    <% if (malwares.length) { %>
      <h1>Known Malware</h1>
      <h2 id="database-page-loading" class="hidden">Loading...</h2>

      <div class="table-wrapper">
        <table id="malware-table" class="table table-bordered">
          <thead>
            <tr>
              <th>MD5</th>
              <th>Classification Name</th>
              <th>Classification Type</th>
              <th>File Size</th>
              <th>File Type</th>
            </tr>
          </thead>
          <tbody>
            <% _.each(malwares.models, function (malware) { %>
              <tr>
                <td><%- malware.get('md5') %></td>
                <td><%- malware.get('classificationName') %></td>
                <td><%- malware.get('classificationType') %></td>
                <td><%- malware.get('fileSize') %></td>
                <td><%- malware.get('fileType') %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <div id="no-malwares-wrapper">
          <div id="no-malwares-vertical-align"></div>
          <div id="no-malwares" class="text-center">
            <h1>No malwares where found.</h1>
            <h2>Upload some on the <span>Upload</span> page and then come back.</h2>
          </div>
        </div>
      <% } %>
    </div>

  </div>
</div>

