* {
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

html, body {
  background: #BCB58C;
  height: 100%;
  min-height: 500px;
  min-width: 745px; }

noscript {
  display: block;
  height: 100%; }

a, a:hover, a:visited, a:focus, a:active {
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  font-weight: 300; }

button {
  background: #A6A6A6;
  border: 1px #8C8C8C solid;
  border-radius: 2px;
  color: #EEE;
  font-size: 1.6rem;
  font-weight: 300;
  outline: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-shadow: 0px 1px 1px #565656; }

ul, ol {
  list-style: none; }

table {
  border: 1px #7F7F7F solid !important; }
  table th {
    font-weight: 300;
    background: #D4D4D4;
    border: 1px #7F7F7F solid !important;
    white-space: nowrap; }
    table th span.fa {
      color: #4A4848; }
  table thead {
    background: #D4D4D4; }
  table td {
    background: #FFF;
    border: 1px #BBB solid !important;
    font-weight: 300;
    white-space: nowrap; }

div.table-wrapper {
  border: 1px #C7C7C7 solid;
  margin-bottom: 2rem;
  overflow: scroll; }
  div.table-wrapper table {
    margin-bottom: 0; }

div.row {
  margin: 0; }

div.container-fluid, div.col-xs-1, div.col-xs-2, div.col-xs-3, div.col-xs-4, div.col-xs-5, div.col-xs-6, div.col-xs-7, div.col-xs-8, div.col-xs-9, div.col-xs-10, div.col-xs-11, div.col-xs-12 {
  padding: 0; }

div.tooltip-inner {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  font-weight: 300; }

#content-wrapper {
  margin-bottom: 0; }

#content {
  align-items: top;
  background: #BCB58C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  height: 100%; }

#modal-title {
  font-size: 2rem; }

#modal-message {
  font-size: 1.8rem;
  font-weight: 300; }

#modal-buttons button {
  margin: 0 1rem 0 1rem; }

#modal-buttons button:first-child {
  margin-left: 0; }

#modal-buttons button:last-child {
  margin-right: 0; }

div.box {
  background: #F3F3F3;
  border: 1px #7C7C7C solid;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%; }
  div.box div.box-header {
    background: #D4D4D4;
    border-bottom: 1px #A1A1A1 solid; }
    div.box div.box-header span.box-icon {
      display: inline-block;
      margin: 1rem;
      margin-right: 0.7rem;
      vertical-align: middle;
      color: #777;
      text-shadow: 0 -1px 0 #EEE; }
    div.box div.box-header h1 {
      border-left: 1px #B2B2B2 solid;
      display: inline-block;
      font-size: 2rem;
      margin: 0;
      padding: 1rem;
      vertical-align: middle;
      color: #777;
      text-shadow: 0 -1px 2 #EEE; }
  div.box div.box-content {
    padding: 2rem; }

div.full-box {
  height: 100%; }

div.page-error {
  text-align: center;
  height: 100%;
  width: 100%; }
  div.page-error div.box-vertical-align {
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle; }
  div.page-error div.box {
    display: inline-block;
    vertical-align: middle;
    width: auto; }
    div.page-error div.box p {
      font-size: 1.8rem;
      font-weight: 300; }
  div.page-error div.box-header {
    text-align: left; }

div.loading-page {
  height: 100%;
  width: 100%; }
  div.loading-page div.loading-vertical-align {
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle; }
  div.loading-page div.loading-spinner {
    display: inline-block;
    vertical-align: middle;
    width: 99%; }
    div.loading-page div.loading-spinner span {
      color: #302B15;
      text-shadow: 0 -1px 1px #C0BB9E; }
    div.loading-page div.loading-spinner h3 {
      color: #2F2F2F;
      text-shadow: 0 -1px 1px #CAC1C1; }

#header {
  background: #403C25;
  background: linear-gradient(0deg, #423C25, #514D36);
  border-bottom: 1px #302B15 solid;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #EEE;
  position: relative;
  z-index: 2; }
  #header h1 {
    margin: 20px; }

#nav {
  background: #897F4A;
  border-right: 1px #776D33 solid;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  float: left;
  height: 100%; }
  #nav span.nav-icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem; }
  #nav span.nav-text {
    font-size: 1.8rem;
    font-weight: 300;
    position: absolute;
    margin-left: 0.3rem;
    margin-top: -0.1rem; }
  #nav a {
    color: #2C2507;
    display: block;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-top: 2rem;
    text-shadow: 0 -1px 1px #A39038; }
  #nav li {
    border-bottom: 1px #524717 solid; }
  #nav li.active {
    background: #B5AB71;
    background: linear-gradient(0deg, #C6BC82, #B5AB71); }
    #nav li.active a {
      color: #FCF6D8;
      text-shadow: 0 1px 1px #848282; }
  #nav #nav-toggle {
    padding-left: 0;
    padding-right: 0;
    position: relative; }
    #nav #nav-toggle hr {
      border-top: 1px #453C12 solid;
      border-bottom: none;
      width: 75%; }
    #nav #nav-toggle span {
      color: #1F0505;
      position: absolute;
      top: 41%;
      right: 46%; }

div.nav-expanded {
  transition: width 0.2s;
  width: 190px; }
  div.nav-expanded span.nav-text {
    opacity: 1;
    transition: opacity 1s; }

div.nav-collapsed {
  transition: width 0.2s;
  width: 57px; }
  div.nav-collapsed span.fa-angle-double-left {
    right: 40% !important;
    transform: rotate(180deg);
    transition: transform 0.2s; }
  div.nav-collapsed span.nav-text {
    opacity: 0;
    transition: opacity 0.1s; }

/*# sourceMappingURL=app.css.map */