* {
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  background: #BCB58C;
  height: 100%;
  min-height: 500px;
  min-width: 745px;
}

noscript {
  display: block;
  height: 100%;
}

a, a:hover, a:visited, a:focus, a:active {
  color: inherit;
  text-decoration: none;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

p {
  color: #575757;
  font-size: 1.8rem;
  font-weight: 300;

  a {
    color: #00F !important;
  }

  a:hover {
    color: #00F !important;
    text-decoration: underline !important;
  }
}

button {
  background: #A6A6A6;
  border: 1px #8C8C8C solid;
  border-radius: 2px;
  color: #EEE;
  font-size: 1.6rem;
  font-weight: 300;
  outline: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-shadow: 0px 1px 1px #565656;
}

ul, ol {
  list-style: none;
}

table {
  border: 1px #7F7F7F solid !important;

  th {
    font-weight: 300;
    background: #D4D4D4;
    border: 1px #7F7F7F solid !important;
    white-space: nowrap;

    span.fa {
      color: #4A4848;
    }
  }

  thead {
    background: #D4D4D4;
  }

  td {
    background: #FFF;
    border: 1px #BBB solid !important;
    font-weight: 300;
    white-space: nowrap;
  }
}

div.table-wrapper {
  border: 1px #C7C7C7 solid;
  margin-bottom: 2rem;
  overflow: scroll;

  table {
    margin-bottom: 0;
  }
}

div.row {
  margin: 0;
}

div.container-fluid, div.col-xs-1, div.col-xs-2, div.col-xs-3, div.col-xs-4, div.col-xs-5, div.col-xs-6, div.col-xs-7, div.col-xs-8, div.col-xs-9, div.col-xs-10, div.col-xs-11, div.col-xs-12 {
  padding: 0;
}

div.tooltip-inner {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem;
  font-weight: 300;
}

#unsupported-browser-error {
  position: absolute;
  top: 0;
  left: 0;
}

#content-wrapper {
  margin-bottom: 0;
}

#content {
  align-items: top;
  background: #BCB58C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  height: 100%;
}

#modal-title {
  font-size: 2rem;
}

#modal-message {
  font-size: 1.8rem;
  font-weight: 300;
}

#modal-buttons {
  button {
    margin: 0 1rem 0 1rem;
  }

  button:first-child {
    margin-left: 0;
  }

  button:last-child {
    margin-right: 0;
  }
}

div.box {
  background: #F3F3F3;
  border: 1px #7C7C7C solid;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;

  div.box-header {
    background: #D4D4D4;
    border-bottom: 1px #A1A1A1 solid;

    span.box-icon {
      display: inline-block;
      margin: 1rem;
      margin-right: 0.7rem;
      vertical-align: middle;
      color: #777;
      text-shadow: 0 -1px 0 #EEE;
    }

    h1 {
      border-left: 1px #B2B2B2 solid;
      display: inline-block;
      font-size: 2rem;
      margin: 0;
      padding: 1rem;
      vertical-align: middle;
      color: #777;
      text-shadow: 0 -1px 2 #EEE;
    }
  }

  div.box-content {
    padding: 2rem;
  }
}

div.full-box {
  height: 100%;
}

div.page-error {
  text-align: center;
  height: 100%;
  width: 100%;

  div.box-vertical-align {
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle;
  }

  div.box {
    display: inline-block;
    vertical-align: middle;
    width: auto;

    p {
      font-size: 1.8rem;
      font-weight: 300;
    }
  }

  div.box-header {
    text-align: left;
  }
}

div.loading-page {
  height: 100%;
  width: 100%;

  div.loading-vertical-align {
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle;
  }

  div.loading-spinner {
    display: inline-block;
    vertical-align: middle;
    width: 99%;

    span {
      color: #302B15;
      text-shadow: 0 -1px 1px #C0BB9E;
    }

    h3 {
      color: #2F2F2F;
      text-shadow: 0 -1px 1px #CAC1C1;
    }
  }
}

@import 'views/header/header';
@import 'views/nav/nav';
@import 'views/malware/malware';
@import 'views/upload/upload';
@import 'views/types/types';

