.navbar {
    padding: 8px 0px;
}

.container {
    padding: 10px;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

#intel-logo {
    width: 178px;
}

#file-upload-input {
    display: none;
}

#operations {
    margin-bottom: 25px;
}