<div class="row">
  <div class="col-xs-9">
    <h1>Intel Security Programming Challenge</h1>
    <p>By: Kyle Hasty </p>
    <p>Date: 10/28/2015 </p>
  </div>
  <div class="col-xs-9">
    <%= link_to 'Malware Data Import', malwares_path %>
  </div>
</div>
