#upload-content {
  h1 {
    display: inline-block;
    font-size: 2rem;
  }

  p a {
    color: #00F;
  }

  p a:hover {
    text-decoration: underline;
  }

  button {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  #upload-input {
    display: none;
  }
}

