<div class="box">
  <div class="box-header">
    <span class="fa fa-upload fa-fw fa-lg box-icon"></span>
    <h1>Upload</h1>
  </div>
  <div id="database-content" class="box-content">

    <h2>other stuff</h2>

  </div>
</div>

