<ul>
  <li>
    <a href="#/upload">
      <span class="fa fa-upload fa-fw fa-lg nav-icon" data-toggle="tooltip" data-placement="right" title="Upload"></span>
      <span class="nav-text">Upload</span>
    </a>
  </li>
  <li>
    <a href="#/database">
      <span class="fa fa-database fa-fw fa-lg nav-icon" data-toggle="tooltip" data-placement="right" title="Database"></span>
      <span class="nav-text">Database</span>
    </a>
  </li>
  <li>
    <a href="#/types">
      <span class="fa fa-server fa-fw fa-lg nav-icon" data-toggle="tooltip" data-placement="right" title="Types"></span>
      <span class="nav-text">Types</span>
    </a>
  </li>
</ul>

<a href="#" id="nav-toggle">
  <hr class="center-block">
  <span class="fa fa-angle-double-left"></span>
</a>
