form.upload {
  margin-top: 20px;
  .btn {
    width: 85px;
  }
}

// file input style borrowed from:
// http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/
.file-upload {
  .btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
  }
  input[type=text] {
    max-width: 260px;
    box-shadow: none !important;
    border-color: transparent !important;
  }
}

@media screen and (max-width: $screen-xs-max) {
  h2 {
    font-size: 25px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  h2 {
    font-size: 25px;
  } 
}

@media screen and (min-width: $screen-md-min) {
  h2 {
    font-size: 30px;
    //margin-bottom: 20px;
  }
}